/* .App {
  text-align: left;
 
}

.p-tomato{
  background-color: tomato
 
}
.p-tomato{
  font-weight: bold;
  width: 50%;
  margin: auto;
}
.p-orange{
  background-color: orange
}
.p-orange{
  font-weight: bold;
  width: 50%;
  margin: auto;
}


.p-dodgerBlue{
  background-color: dodgerblue
  
}
.p-dodgerBlue{
  font-weight: bold;
  width: 50%;
  margin: auto;
}

.p-medium{
  background-color: mediumseagreen
  
}
.p-medium{
  font-weight: bold;
  width: 50%;
  margin: auto;
}
.p-gray{
  background-color: gray
  
 
}
.p-gray{
  font-weight: bold;
  width: 50%;
  margin: auto;
}
.p-slate{
  background-color: slateblue

}
.p-slate{
  color: black;
  font-weight: bold;
  width: 50%;
  margin: auto;
}
.p-violet{
  
  color: black;
  font-weight: bold;
  width: 50%;
  margin: auto;
}
.p-violet{
  background-color:violet
}

.p-ligth{
  background-color: lightgray
 
}
.p-ligth{
  width: 50%;
  margin: auto;
} */

/* .marca{
  font-weight: bold;
  margin: auto;
  width: 80%;
  background-color: aliceblue;

}
.veiculo{
  font-weight: bold;
  margin: auto;
  background-color: aliceblue;
  width: 60%;
}

.chev{
  background-color: lightgrey
}
.chevro{
  background-color: rgb(162, 209, 162);
}
.land{
  background-color: pink;
}

.volk{
  background-color: rgb(212, 212, 162);
}
.ford{
  background-color: rgb(93, 184, 190);
}
 */


